@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Lato&family=Work+Sans&display=swap");

/* font-family: 'Karla', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif; */

:root {
    --background-color: #ebe9e4;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}