@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Lato&family=Work+Sans&display=swap");

:root {
  --background-color: #ebe9e4;
  --background-card-one: #a7b8a8;
  --background-card-two: #e1d3c7;
  --background-card-three: #e8cdad;
  --background-white: #fff;
  --background-pink: #ffc0cb;
  --boxshadow-color: rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FONT STYLES */

.lato {
  font-family: "Lato", sans-serif;
  font-size: 12px;
}

.karla {
  font-family: "Karla", sans-serif;
  font-size: 18px;
}

.work_sans {
  font-family: "Work Sans", sans-serif;
  font-size: 48px;
}

.flex_center_column,
.flex_center_row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_center_column {
  flex-direction: column;
}

.flex_center_row {
  flex-direction: row;
}

/* GLOBAL */
h1{
  margin: 0 10px
}

.icons_container {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}

.phone_icon {
  padding-left: 10px;
}

.mail_icon,
.phone_icon {
  height: 22px;
  width: 22px;
}

.sorting_icon {
  background: transparent;
  border: 0;
  margin-right: 10px;
}

.sorting_icon:hover,
.mail_icon:hover,
.phone:hover,
.toggle_view_icon:hover {
  cursor: pointer;
}

.cards_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.search_container {
  border-bottom: 3px solid black;
}
.search_icon {
  height: 22px;
}
.search_input {
  height: 28px;
  max-width: 300px;
  background-color: var(--background-color);
  border: none;
  outline: 0;
  font-size: 1.5rem;
  cursor: auto;
}



/* LOADER */
.loader_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vh;
}

.loader {
  border-top: 16px solid var(--background-card-one);
  border-right: 16px solid var(--background-card-two);
  border-bottom: 16px solid var(--background-card-three);
  border-left: 16px solid var(--background-pink);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* NAVBAR */
.navbar {
  width:100%;
  justify-content: space-between;
  margin: 5% 0;
}

/* CARDS GLOBAL */

.cards_avatar {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  box-shadow: -1px 5px 13px -3px rgba(0, 0, 0, 0.82);
}

.card_name,
.card_location {
  text-align: center;
}

.grid_card:nth-child(1n),
.list_card:nth-child(1n) {
  background-color: var(--background-card-one);
}

.grid_card:nth-child(2n),
.list_card:nth-child(2n) {
  background-color: var(--background-card-two);
}

.grid_card:nth-child(3n),
.list_card:nth-child(3n) {
  background-color: var(--background-card-three);
}

/* GRID VIEW */
.grid_cards_container {
  display: grid;
  grid-template-columns: auto auto;
  padding:10px;
}

/* GRID VIEW CARDS */
.grid_card {
  padding: 10px;
  margin: 10px;
  height: 220px;
  width: 135px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: -1px 5px 13px -3px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}

/* LIST VIEW */
.list_card_container {
  display: grid;
  grid-template-columns: auto;
  padding: 20px 0;
}

/* LIST VIEW CARDS */

.list_card {
  width: 302px;
  justify-content: space-between;
  width: auto;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 22px;
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: -1px 5px 13px -3px rgba(0, 0, 0, 0.2);
}

.list_avatar {
  margin-right: 10px;
}

@media (min-width: 400px) {
  .mail_icon,
  .phone_icon {
    height: 25px;
    width: 25px;
  }
  /* GRID VIEW */
  .cards_avatar {
    height: 100px;
    width: 100px;
  }

  .grid_cards_container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

  .grid_card {
    width: 210px;
    height: 342px;
  }

  .list_card {
    width: 600px;
    height: 120px; 
  }

  .list_avatar {
    height:80px;
    width: 80px;
    margin-right: 20px;
  }
}
